# - fs, output sample rate
[augment]

fs: 16000
audio_length: 10
silence_ms: 0.2
dt_total_hours: 100
ne_total_hours: 30
clean_activity_threshold: 0.6
noise_activity_threshold: 0.0
ref_echo_activity_threshold: 0.0
target_level_lower: -35
target_level_upper: -15
noisy_nearend: 0.3
SER: -15, 18
SNR: 10, 30

dns_dir: /home/deepni/datasets/DNS-Challenge/datasets
aec_dir: /home/deepni/datasets/AEC-Challenge/datasets
out_dir: /home/deepni/datasets/gene-AEC-100-30
ref_echo_flist: []
clean_flist: []
noise_flist: []
